" =============================================================================
" ■各キーマップ読み込み

" =============================================================================
" ■リーダーのキーマップ変更
let mapleader = ","
" ,のデフォルト機能は\で使えるように
noremap \ ,

" =============================================================================
" ■行が折り返し表示されていた場合、行単位ではなく表示行単位でカーソルを移動する
nnoremap j gj
nnoremap k gk
nnoremap <down> gj
nnoremap <up> gk

" =============================================================================
" ■Release the highlight
nnoremap <ESC><ESC> :noh<CR>
" =============================================================================
" ■EasyMotion
" 参考URL: http://blog.remora.cx/2012/08/vim-easymotion.html
" 「'」 + 何かにマッピング
let g:EasyMotion_leader_key="'"

" =============================================================================
" ■画面分割
source ~/.vimrc.keymap.split
source ~/.vimrc.keymap.unite

